* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    background: #E5E5E5;
}

.conteiner {
    display: flex;
    flex-direction: row;
}

.conteiner-muneco {
    display: flex;
    height: 580px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: 100px;
    background: white;
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.conteiner-muneco section img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: white;
    margin: 0 auto;
}

.conteiner-muneco__notFound {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.conteiner-muneco__enciptDecript {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.nav-logo {

    margin-top: 40px;
    margin-left: 84px;
}

.section-textarea {
    position: absolute;
    width: 70%;
    height: 60%;
    margin-top: 80px;
    margin-left: 124px;
}

.section-textarea textarea {
    max-width: 80%;
    max-height: 60%;
    min-width: 80%;
    min-height: 80%;
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.section-textarea textarea:focus {
    outline-style: none;
}


.section-textarea textarea::placeholder {
    color: #0A3871;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-top: 400px;
}

.section-buttons__notes {
    display: flex;
    flex-direction: row;
    margin-left: 240px;
    margin-left: 240px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #0A3871;
}

.section-buttons__notes img {
    margin-right: 5px;
}

.section-buttons__buttons {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

.button-encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    justify-content: center;
    margin-right: 24px;
    margin-top: 10px;
    margin-left: -60px;

}

.button-desencriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0A3871;
    justify-content: center;
    margin-top: 10px;
}


.button-copyText {
    padding: 24px;
    gap: 8px;
    width: 228px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0A3871;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    display: none;
}

/* 



.text-paragraf {
    position: absolute;
    margin-top: 450px;
    margin-left: 164px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.text-paragraf-logo {
    position: absolute;
    margin-top: 450px;
    margin-left: 145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.section-detail {
    position: absolute;
    width: 400px;
    height: 90%;
    margin-left: 940px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.section-detail img {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.section-detail p.message {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 auto;
}

.section-detail p.detail {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 auto;
}

.button-encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:white;
    justify-content: center;
    margin-right: 24px;
    margin-top: 10px;
}

.button-desencriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:#0A3871;
    justify-content: center;
    margin-top: 10px;
}


.section-text{
    margin-top: 10px;
}
.section__buttons{
    display: flex;
    flex-direction: row;
} */
/*

.textarea-transform{
    text-transform: lowercase;
} */